In [1]:
import pandas as pd
import numpy as np

In [2]:
housing=pd.read_csv('housing.csv')

# S1. 不同的表达方式收到series或者dataframe

In [6]:
# 第一种得到series
housing['ocean_proximity']

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [5]:
type(housing['ocean_proximity'])

pandas.core.series.Series

In [7]:
# 第二种得到dataframe
housing[['ocean_proximity']]

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [8]:
type(housing[['ocean_proximity']])

pandas.core.frame.DataFrame

# S2. 近似的表达方式

In [14]:
housing_num=housing.drop('ocean_proximity',axis=1)
housing_num.mean()
# 得到np.array
housing_num.mean().values

array([-1.19569704e+02,  3.56318614e+01,  2.86394864e+01,  2.63576308e+03,
        5.37870553e+02,  1.42547674e+03,  4.99539680e+02,  3.87067100e+00,
        2.06855817e+05])

# S3. 关于slice

In [18]:
# 首先注意的是一定要是[ ]，iloc选中的是位置
housing.iloc[2:,]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [21]:
# loc选中的是instance的名称
housing.loc[2:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY

# S4. 把categorical 分成几类numerical
感觉是类似把连续numerical分成几个bins<br>
从categorical handling第三点想到的

In [26]:
housing_cat= housing['ocean_proximity']
housing_cat

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: ocean_proximity, Length: 20640, dtype: object

In [27]:
# 查看都有什么类别
housing_cat.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [28]:
# 1. 利用函数或映射 mapping(Series的map方法)
# 创建映射
distance_to_ocean={'INLAND':0,'<1H OCEAN':1, 'NEAR BAY':2, 'NEAR OCEAN':3, 'ISLAND':4}

In [29]:
housing_cat_to_num=housing_cat.map(distance_to_ocean)

In [30]:
housing_cat_to_num

0        2
1        2
2        2
3        2
4        2
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: ocean_proximity, Length: 20640, dtype: int64

In [31]:
# 2. 替换值
housing_cat2 = housing['ocean_proximity']

In [32]:
housing_cat2.replace(['INLAND','<1H OCEAN','NEAR BAY','NEAR OCEAN','ISLAND'],[0,1,2,3,4])
housing_cat2.replace({'INLAND':0,'<1H OCEAN':1, 'NEAR BAY':2, 'NEAR OCEAN':3, 'ISLAND':4})

0        2
1        2
2        2
3        2
4        2
        ..
20635    0
20636    0
20637    0
20638    0
20639    0
Name: ocean_proximity, Length: 20640, dtype: int64